@charset "UTF-8";

:root {
    --cor01 : #00010d9d;
    --cor02 : #8F96A6;
    --cor03 : #5E88BF;
    --cor04 : #0468BF;
    --cor05 : #308AD9;
}

* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: var(--cor01);
    height: 310px;
    width: 300px;
    padding: 1rem;
    border-radius: 2%;
    margin-left: 30px;
}

img {
    flex-direction: column;
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

input {
    color: white;
    background-color: var(--cor03);
    border-radius: 5px;
    margin-top: 10px;
    height: 35px;
    width: 100%;
    outline: none;
    padding-left: 0.5rem;
}

p {
    color: white;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bolder;
    margin-left: 10px;
}

input::placeholder {
    color: var(--cor01);
    font-weight: bolder;
    font-size: 13px;
}

form [type="submit"] {
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: white;
    color: var(--cor01);
    font-weight: bolder;
}

form [type="submit"]:hover {
    display: flex;
    background-color: red;
    color: var(--cor01);
    cursor: pointer;
    transition: 1s;
    text-decoration: underline;
}


